seed: 42
source: null
only_prots: false # false (no pretraining), true (pretraining) or both
prots:
  structs:
    method: whole # whole, template, bsite, plddt
    bsite:
      radius: 5
    template:
      radius: 2
    plddt:
      threshold: 70
  features:
    method: distance # distance, rinerator, esm
    distance:
      threshold: 7
    node_feats: label # label or onehot
    edge_feats: none # label, onehot, none
drugs:
  max_num_atoms: 150
  node_feats: label # label, onehot, glycan
  edge_feats: none # label, onehot, none
split_data:
  method: random # random, target, drug, community
  train: 0.7 # test is created as a remainder of train and val
  val: 0.2
parse_dataset:
  filtering: posneg # all, posneg, balanced
  sampling: none # over, under, none
  task: class # class, reg
  threshold: 100 # threshold values for class problem
  log: false # Whether to apply logarithm with base of 10 to values (for reg, doesn't affect threshold  )
