# the two root directories to take the data from and to store the data in
source: /scratch/SCRATCH_SAS/roman/rindti/datasets/glylex/Ricin/resources
prots:
  features:
    method: esm # rinerator, distance, esm
drugs:
  node_feats: IUPAC # IUPAC, label, onehot, glycan
split_data:
  method: target # random, drug, target
  train: 1
  val: 0.0
parse_dataset:
  filtering: all
  threshold: 0.5
