
.*
__*__/
__pycache__/
!.gitattributes
!.gitignore
!resources/tools/
*.csv
*.csv
*.html
*.ipynb
*.ipynb
*.pkl
*.png
*.pyc
*.sh
*.tab
*.yaml
data/
report/*
resources/*/
results/*
slides/
tb_logs/
tmp/
