.*
!.gitattributes
!.gitignore
!.gitmodules
!.pre-commit-config.yaml
!.flake8
!.readthedocs.yaml
!.github
__*__/
__pycache__/
*.csv
*.pkl
*.pyc
datasets/
report/
results/
*logs/
*Untitled*
*build*
*egg-info*
data/
