runs: 1
seed: 42
datamodule:
  filename: /scratch/SCRATCH_SAS/roman/rindti/datasets/resources/results/prepare_all/elnwInranc_4441f51d.pkl
  exp_name: glylec
  batch_size: 64
  num_workers: 0
trainer:
  gpus: 1
  max_epochs: 1000
  profiler: null
  gradient_clip_val: 100
  precision: 16
early_stop:
  patience: 40
model:
  module: esm_class
  feat_method: concat
  monitor: val_loss
  drug:
    hidden_dim: 128
    node:
      module: SweetNet
      dropout: 0.1
      hidden_dim: 16
      num_layers: 3
    pool:
      module: gmt
      num_heads: 4
      hidden_dim: 16
      ratio: 0.25
  prot:
    hidden_dim: 128
    node:
      module: ginconv
      dropout: 0.1
      hidden_dim: 16
      num_layers: 3
    pool:
      module: gmt
      num_heads: 4
      hidden_dim: 16
      ratio: 0.25
  mlp:
    dropout: 0.2
    hidden_dim: 512
  optimizer:
    module: adam
    lr: 0.0001
    prot_lr: 0.001
    drug_lr: 0.001
    weight_decay: 0.01
    momentum: 0.01
    reduce_lr:
      factor: 0.1
      patience: 20
      monitor: val_loss
