seed: 42
exp_name: glass
datamodule:
  filename: /home/ilya/Projects/rindti/datasets/glass/results/prepare_all/colddrug_posneg_none_class_template_distance_label_none_label_none.pkl
  exp_name: test
  batch_size: 256
  num_workers: 4
trainer:
  gpus: 1
  max_epochs: 1000
  profiler: null
  gradient_clip_val: 100
early_stop:
  patience: 60
model:
  module: class
  feat_method: concat
  drug:
    hidden_dim: [16, 32, 64, 128, 256, 512]
    node:
      module: ginconv
      dropout: 0.1
      hidden_dim: 16
      num_layers: 3
    pool:
      module: gmt
      num_heads: 4
      hidden_dim: 16
      ratio: 0.25
  prot:
    hidden_dim: 16
    node:
      module: ginconv
      dropout: 0.1
      hidden_dim: 16
      num_layers: 3
    pool:
      module: gmt
      num_heads: 4
      hidden_dim: 16
      ratio: 0.25
  mlp:
    dropout: 0.2
    hidden_dim: 512
  optimizer:
    module: adam
    lr: 0.0001
    prot_lr: 0.0001
    drug_lr: 0.0001
    weight_decay: 0.01
    momentum: 0.01
    reduce_lr:
      factor: 0.1
      patience: 20
