
seed: 42
runs: 5
datamodule:
  filename: datasets/alphafold/results/pretrain_prot_data/wdln_1479ac8c.pkl
  exp_name: test
  batch_size: 128
  num_workers: 4
trainer:
  gpus: 1
  max_epochs: 1000
  profiler: null
  gradient_clip_val: 100
early_stop:
  patience: 60

model:
  monitor: val_loss
  module: class
  hidden_dim: 128
  encoder:
    hidden_dim: 128
    node:
      module: ginconv
      dropout: 0.1
      hidden_dim: 128
      num_layers: 3
    pos:
      module: ginconv
      dropout: 0.1
      hidden_dim: 128
      num_layers: 3
    pool:
      module: gmt
      num_heads: 4
      hidden_dim: 128
      ratio: 0.25
  mlp:
    dropout: 0.2
    hidden_dim: 128
  optimizer:
    module: adam
    lr: 0.0001
    weight_decay: 0.01
    momentum: 0.01
    reduce_lr:
      factor: 0.1
      patience: 20
