name: Testing

on: [pull_request, push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        $CONDA/bin/conda env update --file workflow/envs/main.yml --name base
    - name: Test with pytest
      run: |
        $CONDA/bin/conda install pytest
        $CONDA/bin/python -m pytest
